* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Work Sans", sans-serif;
  background-color: #fffef2;
  color: #1b262c;
}

body {
  margin: 0;
  padding: 0;
}

#navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fffef2;
  background-color: #1b262c;
  padding: 5px;
}

nav header {
  font-weight: bold;
  padding-bottom: 10px;
}

nav a {
  color: #fffef2;
  text-decoration: none;
  padding: 5px;
  display: block;
}

nav a:hover {
  text-decoration: underline;
}

#burger {
  position: fixed;
  z-index: 10;
  top: 10px;
  right: 10px;
}

h2,
p,
code {
  padding: 10px;
}

li {
  margin: 10px 40px;
}

@media (min-width: 960px) {
  #navbar {
    position: fixed;
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 100%;
  }
  main {
    margin-left: 200px;
  }
  #burger {
    display: none;
  }
}
